# Sales Dataset

Sales data merupakan data penjualan barang berasal dari tim sales. Data tersebut sudah ada di database, namun masih perlu dilakukan pengecekan terhadap kualitas datanya.

## Extract

Sales data berada di database postgresql yang image docker nya dapat diakses di https://hub.docker.com/r/shandytp/amazon-sales-data-docker-db . 
Untuk menjalankan image tersebut, gunakan:

```bash
docker run -d -p 5432:5432 --name [CONTAINER_NAME] shandytp/amazon-sales-data-docker-db:latest
```

### Access Database

Setelah container berhasil dijalankan, lakukan koneksi dengan database, kemudian baca data tersebut dengan pandas dan lakukan eksplorasi.

**Impor modul yang diperlukan**

In [1]:
import luigi
import pandas as pd
from sqlalchemy import create_engine

**Buat koneksi dengan database**

In [2]:
# rubah sesuai host IP
db_host = "172.25.0.58"

def postgres_engine():
    engine = create_engine(f"postgresql://postgres:password123@{db_host}/etl_db")

    return engine

In [3]:
engine = postgres_engine()

engine

Engine(postgresql://postgres:***@172.25.0.58/etl_db)

**Query database dan masukkan kedalam pandas**

Untuk mengetahui dari tabel apa yang akan di query, lakukan akses database melalui DBeaver. Dari DBeaver didapatkan hanya 1 tabel yaitu "amazon_sales_data"

<center>
    <img src="./images/1.png"/>
</center>

In [4]:

query = "SELECT * FROM amazon_sales_data"

sales_data = pd.read_sql(sql=query,
                         con=engine)

sales_data.head()

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,Unnamed: 0
0,PS CREATION Silver OM Stud Earrings for Men Bo...,accessories,Jewellery,https://m.media-amazon.com/images/I/31cwosBqVz...,https://www.amazon.in/PS-CREATIONS-Silver-Earr...,4.6,5,₹199,₹699,8524.0
1,Toniq Beach Vacation Enameled Hoops Earring Je...,accessories,Fashion & Silver Jewellery,https://m.media-amazon.com/images/I/61AluSgKh7...,https://www.amazon.in/Toniq-Vacation-Enameled-...,,,₹358,₹699,
2,ASM Handmade Goodyear Welted Croco Print Black...,men's shoes,Formal Shoes,https://m.media-amazon.com/images/I/61p5KQguUA...,https://www.amazon.in/Handmade-Goodyear-Leathe...,1.0,1,,"₹7,500",7746.0
3,KIDDIE Hair Electric Comb Brush 3 in 1 Ceramic...,beauty & health,Personal Care Appliances,https://m.media-amazon.com/images/I/41hYd0w9zp...,https://www.amazon.in/Electric-Ceramic-Straigh...,,,₹799,"₹1,599",
4,blackberrys Structured Cotton Stretch Slim Fit...,men's clothing,Jeans,https://m.media-amazon.com/images/I/51e2JFtpac...,https://www.amazon.in/Mens-Casual-B-95-Stretch...,,,"₹2,076","₹2,595",3027.0

## Transform

### Explore Data

**Shape dari data**

In [5]:
n_rows = sales_data.shape[0]
n_cols = sales_data.shape[1]

print(f"Hotel Booking memiliki {n_rows} baris dan {n_cols} kolom")

Hotel Booking memiliki 100892 baris dan 10 kolom

**Datatype dari tiap kolom**

In [6]:
for col in sales_data.columns:
    get_data_type = sales_data[col].dtypes
    print(f"Kolom {col} memiliki tipe data {get_data_type}")

Kolom name memiliki tipe data object
Kolom main_category memiliki tipe data object
Kolom sub_category memiliki tipe data object
Kolom image memiliki tipe data object
Kolom link memiliki tipe data object
Kolom ratings memiliki tipe data object
Kolom no_of_ratings memiliki tipe data object
Kolom discount_price memiliki tipe data object
Kolom actual_price memiliki tipe data object
Kolom Unnamed: 0 memiliki tipe data object

In [13]:
sales_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100892 entries, 0 to 100891
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   name            100892 non-null  object
 1   main_category   100892 non-null  object
 2   sub_category    100892 non-null  object
 3   image           100892 non-null  object
 4   link            100892 non-null  object
 5   ratings         100630 non-null  object
 6   no_of_ratings   100630 non-null  object
 7   discount_price  100892 non-null  object
 8   actual_price    100892 non-null  object
 9   Unnamed: 0      100892 non-null  object
dtypes: object(10)
memory usage: 7.7+ MB

**Cek value dari kolom yang akan di casting**

In [14]:
sales_data["ratings"].value_counts(dropna=False)

ratings
        31965
4.0      6740
5.0      6053
3.9      5036
3.8      4512
4.1      4505
4.2      4028
3.7      3985
3.6      3594
3.5      3159
4.3      3105
4.4      2595
3.4      2351
4.5      2329
3.0      2115
3.3      2028
4.6      1502
1.0      1484
3.2      1446
3.1      1211
4.7      1062
Get       885
2.9       740
2.0       598
2.8       590
2.5       440
2.7       417
4.8       403
2.6       339
None      262
FREE      214
2.4       199
2.3       163
2.2       119
2.1       116
4.9       106
1.5        80
4          72
1.9        64
1.8        54
1.4        48
5          46
3          30
1.6        29
1.7        27
1          26
1.3        11
1.2         3
₹70         2
2           2
₹65         1
₹99         1
Name: count, dtype: int64

In [16]:
wanted_values = ["Get", "FREE", "₹70", "₹65", "₹99"]

sales_data.loc[sales_data["ratings"].isin(wanted_values)]

,name,main_category,sub_category,image,link,ratings,no_of_ratings,discount_price,actual_price,Unnamed: 0
120,Exxelo KPC High Bass Wired on Ear Headphone Su...,"tv, audio & cameras",Headphones,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/Exxelo-Headphone-Suitabe...,Get,Only 1 left in stock.,,₹495,7339.0
387,LMDLACHAMA 6.25 Ratti 5.50 Carat Certified Gom...,accessories,Jewellery,https://m.media-amazon.com/images/I/51V5MBC+OU...,https://www.amazon.in/LMDLACHAMA-Certified-Hes...,Get,FREE Delivery by Amazon,₹750,"₹2,990",15089.0
797,Sonata Epic Gents Analog Watch - EP20001QL01,accessories,Watches,https://m.media-amazon.com/images/I/61g-1Gme-5...,https://www.amazon.in/Sonata-Epic-Gents-Analog...,Get,FREE Delivery by Amazon,₹559,"₹1,045",1674.0
868,Coach Womens Preston White Dial Stainless Stee...,accessories,Watches,https://m.media-amazon.com/images/I/511zRM7jwO...,https://www.amazon.in/Coach-Womens-Preston-Sta...,Get,FREE Delivery by Amazon,,"₹22,495",18037.0
939,Candere By Kalyan Jewellers 22kt (916) BIS Hal...,accessories,Fashion & Silver Jewellery,https://m.media-amazon.com/images/I/518ySRDpeT...,https://www.amazon.in/Candere-Kalyan-Jewellers...,Get,FREE Delivery by Amazon,"₹73,713","₹84,348",3389.0
...,...,...,...,...,...,...,...,...,...,...
100743,"CP PLUS Wired 8-Channel HD DVR 1080p, Indoor C...","tv, audio & cameras",Cameras,https://m.media-amazon.com/images/I/61R99IdMvF...,https://www.amazon.in/CP-PLUS-8-Channel-Outdoo...,Get,FREE Delivery by Amazon,"₹15,675","₹21,000",4231.0
100783,GIVA 925 Sterling Silver Bold Butterfly Pendan...,accessories,Fashion & Silver Jewellery,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/GIVA-Sterling-Butterfly-...,Get,FREE Delivery by Amazon,"₹1,994","₹4,199",3701.0
100839,Zivom® Stainless Steel Gold Silver Plated Rubb...,accessories,Jewellery,https://m.media-amazon.com/images/I/71gG3GjZEJ...,https://www.amazon.in/jewelbox-Stainless-Silve...,Get,FREE Delivery by Amazon,₹636,"₹2,000",3981.0
100850,Kuber Industries 2 Pieces Rexine Jumbo Attachi...,bags & luggage,Travel Duffles,https://m.media-amazon.com/images/I/6190M-cxpy...,https://www.amazon.in/Kuber-Industries-Carryin...,FREE,Only 2 left in stock.,,₹599,840.0
100852,"NJ Stainless Steel Smoothie Straws, 9"" X 8mm w...",beauty & health,Household Supplies,https://m.media-amazon.com/images/W/IMAGERENDE...,https://www.amazon.in/NJ-Stainless-Smoothie-St...,Get,FREE Delivery by Amazon,₹499,₹899,

In [18]:
sales_data["no_of_ratings"].value_counts()

no_of_ratings
         31965
1         7353
2         4599
3         3253
4         2636
         ...
2,726        1
2,718        1
2,870        1
3,750        1
2,185        1
Name: count, Length: 4204, dtype: int64

### Casting Data

Berdasarkan tampilan head dari sales_data, terdapat sejumlah data baik None maupun yang tidak ada datanya. Tipe data masing-masing kolom juga tidak sesuai sehingga menyulitkan untuk mengetahui kualitas data. Untuk itu tipe data masing-masing kolom perlu disesuaikan.

In [10]:
casting_data = {
    "name": "str",
    "main_category": "str",
    "sub_category": "str",
    "image": "str",
    "link": "str",
    "ratings": "float",
    "no_of_ratings": "int",
    "discount_price": "float",
    "actual_price": "float",
    "Unnamed: 0": "float"
}

In [12]:
sales_data = sales_data.astype(casting_data)

ValueError: could not convert string to float: '': Error while type casting for column 'ratings'

In [ ]:
for col in sales_data.columns:
    get_data_type = sales_data[col].dtypes
    print(f"Kolom {col} memiliki tipe data {get_data_type}")

### Data Cleaning

**Cek missing values**

In [ ]:
for col in sales_data.columns:
    # calculate missing value in percentage
    get_missing_values = (sales_data[col].isnull().sum() * 100) / len(sales_data)

    print(f"Kolom {col} memiliki missing values {get_missing_values: .2f}%")

Missing values di kolom ratings

In [ ]:
sales_data[sales_data["ratings"].isnull()]

Missing values di kolom no_of_ratings

In [ ]:
sales_data[sales_data["no_of_ratings"].isnull()]

Cek apakah data yang memiliki nilai ratings = Null sama dengan yang memiliki nilai no_of_ratings = Null

In [ ]:
ratings_null = sales_data[sales_data["ratings"].isnull()].index.to_list()
no_of_ratings_null = sales_data[sales_data["no_of_ratings"].isnull()].index.to_list()

ratings_null == no_of_ratings_null

Melihat isi kolom "Unnamed: 0"

In [ ]:
sales_data[sales_data["Unnamed: 0"].isnull()]